@import "./variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 8px;

  h1 {
    color: $primary_color;
    font-size: 35px;
    margin: 3px;
    margin-left: 10px;
  }

  &__left {

    a {
      padding: 6px;
      margin-left: 3px;
      margin-right: 10px;
      font-weight: 700;

      &:hover {
        color: $primary-color;
        transition: 0.5s ease-in-out;
        
      }
    }
  }
}
