@import "./variables.scss";

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__headshot {
    max-width: 700px;
    max-height: 500px;
    border-radius: 10px;
  }

  &__bio{
    font-size: 20px;
    margin-left: 20px;
    max-width: 500px;

    span{
        color: $primary-color;
        font-weight: 700;
    }

    a{
        text-decoration: underline;
        color: $secondary-color;

        &:hover{
            color: $primary-color;
            font-weight: 700;
        }
    }

    
  }
}
