@import "./variables.scss";

.project-grid {
  display: grid;
  margin-top: 10px;
  justify-content: center;
  row-gap: 10px;

  &__tile {
    display: flex;
    color: $secondary-color;
    justify-content: center;
    align-content: center;
    row-gap: 8px;
    max-width: 600px;
    border-bottom: 1px solid $secondary-color;


    &--left{
        display:grid;
        justify-items: center;
        row-gap: 8px;
    
    &:hover {
      color: $primary-color;
      font-weight: 700;
    }

    &--image {
      max-width: 400px;
      max-height: 300px;
    }
}

&--description{
    display: grid;
    align-content: center;
    margin-left: 3px;
}
  }

}
